<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>takoja.fi - Formaatit</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/tyylit.css"
	th:href="@{css/tyylit.css}" />
</head>
<body>

	<div>
		<form th:action="@{/logout}" method="post" action="">
			<input type="submit" value="Kirjaudu ulos" class="" />
		</form>
	</div>
	<br>
	<a href="javascript:history.back()">Takaisin</a>
	<br>

	<table>
		<tr>
			<th class="paa">Formaatit</th>
		</tr>
		<tr th:each="formaatti : ${formaatti}">
			<td class="paa" th:text="${formaatti.formaattinimi}"></td>
			<td class="paa" sec:authorize="hasAuthority('PAAKAYTTAJA')">
				<form th:action="@{/fpoista/{id}(id=${formaatti.formaattiid})}"
					action="">
					<button type="submit">Poista</button>
				</form>
			</td>
			<td class="paa" sec:authorize="hasAuthority('PAAKAYTTAJA')">
				<form th:action="@{/fmuokkaa/{id}(id=${formaatti.formaattiid})}"
					action="">
					<button type="submit">Muokkaa</button>
				</form>
			</td>
		</tr>
	</table>

	<form sec:authorize="hasAuthority('PAAKAYTTAJA')" action="/flisaa">
		<button type="submit">Lisää formaatti</button>
	</form>

</body>
</html>