<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>takoja.fi - Lisää formaatti</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/tyylit.css"
	th:href="@{css/tyylit.css}" />
</head>
<body>

	<div>
		<form th:action="@{/logout}" method="post" action="">
			<input type="submit" value="Kirjaudu ulos" class="" />
		</form>
	</div>
	<br>
	<a href="javascript:history.back()">Takaisin</a>
	<br>

	<form th:object="${formaatti}" th:action="@{ftallenna}" action="#"
		method="post" enctype="multipart/form-data">

		<label for="fotsikko">Formaatin nimi</label> <input type="text"
			id="fotsikko" th:field="*{formaattinimi}" />
		<div style="clear: both; display: block; height: 10px;"></div>

		<input type="submit" value="Tallenna"></input>
	</form>
</body>
</html>