<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>takoja.fi - Muokkaa formaattia</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="../css/tyylit.css"
	th:href="@{../css/tyylit.css}" />
</head>
<body>
	<div>
		<form th:action="@{/logout}" method="post" action="">
			<input type="submit" value="Kirjaudu ulos" class="" />
		</form>
	</div>
	<br>
	<a href="javascript:history.back()">Takaisin</a>
	<br>
	<br>
	<div>
		<form th:object="${formaatti}"
			th:action="@{/fmuokkaa/{id}(id=${formaatti.formaattiid})}" action="#"
			method="post" enctype="multipart/form-data">

			<label for="fotsikko">Nimi</label> <input type="text"
				id="formaattinimi" th:field="*{formaattinimi}" /> <input
				type="submit" value="Tallenna"></input>
		</form>
	</div>

</body>
</html>